body{background-color: rgba(207, 123, 14, 0.692);}
.CABANCHIKI{width:430px ;height:150px; background-color: rgba(194, 96, 16, 0.945);text-align:center;padding-top:52px ;}
.Deck{width: 20;height: 50;background-color: brown;text-align: left;padding-left: 20;}